* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
}


.search-input {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

.materials-boxes-div {
  border: 1px solid green;
  background: whitesmoke;
  padding: 10px;
  font-size: 1.2em;
}

.index-show-experiment {
  border: 5px solid blue;
  width: 600px;
  height: 300px;
  background: green;
}

.index-show-experiment img {
  width: 60%;
}

.all-shown-experiments {
  display: inline;
}

#splash {
  margin-top: 0px;
}

#splash-image {
  width: 100%;
  margin-bottom: 20px;
}

#splash-header {
  margin-top: -20%;
  margin-left: 20px;
  font-size: 7em;
  color: #DFF3E3;
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-icons {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  border: 1px solid black;
}

.main-captions {
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

.show-img {
  height: 100%;
  width: 100%;
}

.show-img:hover {
  opacity: 0.8;
  /*box-shadow: 2px 2px 2px black;*/
}



.materials-div {
  margin: 25px auto 25px;
  width: 80%;
  display: table;
  background: whitesmoke;
}

.materials-div h2 {
  padding: 20px;
  font-size: 2.2em;
}

.materials-div-double {
  float: left;
  height: 200px;
  width: 50%;
  padding: 10px;
}

.materials-div-double:hover {
  background-color: #fffb99;
  /*box-shadow: 5px 5px 5px black;*/
}

.materials-img-div {
  overflow: hidden;
  height: 100%;
  width: 50%;
  float: left;
  background: #FFFAF0
}

.materials-div-name {
  float: left;
  height: 100%;
  width: 50%;
  font-size: 2em;
  background: white;
  border-radius: 5px;
  padding-top: 15%;
}

.materials-img-div img {
  height: 100%;
}

.show-procedure {
  width: 80%;
  padding: 30px;
  background-color: #F2F2F2;
  margin: 20px auto 20px;
}

.label-div {
  width: 175px;
  height: 100px;
  float: left;
  border: 2px solid black;
  margin: 10px;
}

.label-div:hover {
  opacity: .8;
  border-radius: 8px;
  border: 5px solid #1e8bff;
  background-color: #e8f6fe;
}

.materials-list-pic-div {
  overflow: hidden;
  width: 100%;
  height: 50%;
  background: white;
}

input[type=checkbox] {
  transform: scale(1.2);
}

.materials-list-pic-div img {
  height: 100%;
}

.materials-list-check {
  width: 100%;
  height: 50%;
}

.clearfix {
  clear: left;
}

.all-shown-experiments {
  max-width: 1200px;
  margin: auto;
  background: yellow;
}

.index-experiment-thumb {
  text-align: center;
  width: 300px;
  height: 400px;
  background: whitesmoke;
  overflow: hidden;
  float: left;
  border: 2px solid #777777;
  border-radius: 15px;
  margin: 4px;
}

.index-experiment-thumb:hover {
  border: 10px solid #fff64c;
  opacity: 0.8;
  background: #fffdc4;
  font-weight: bold;
}

.index-experiment-thumb img {
  width: 75%;
}

.procedure-list {
  
}

.procedure-list li {
  padding: 5px;
  text-align: left;
  font-size: 1.3em;
}

.comment-form-div {
  margin: auto;
  width: 50%;
}

.comment-form-div h5 {
  margin: 5px auto;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}

a:hover {
  text-decoration: none;
}

.comment-form-div textarea, input {
  display: block;
  width: 90%;
  margin: auto;
}

.showbg h2 {
  text-align: center;
}