body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ----------------------------------------------- */
/* Show.js styling */

h2 {
  margin-top: 0px;
}

input {
  margin-bottom: 10px;
  width: 300px;
}

.experiment-h1-bg {
  background-color: #abbcaf;
  margin: 0 30%;
  padding: 0px;
  border-radius: 8px;
}

.experiment-h1-bg > h1 {
  padding: 10px;
  color: white;
}

.newExperiment {
  padding: 10px;
  background-color: #DFF3E3;
}

.newExperiment p, h1 {
  text-align: center;
  margin: 0px auto;
}

.newExperiment textarea {
  display: block;
  margin: auto;
}

.clearForm {
  width: 500px;
  clear: both;
}

.clearForm > input {
  width: 100%;
  clear: both;
}

.bottom_p {
  margin-right: 300px;
  margin-top: 200px;
}

.showbg {
  padding-top: 1px;
  /*background-color: #7efafc;*/
  padding-bottom: 50px;
}

.descriptionh2 {
  padding-top: 10px;
}

.img-border {
  border-radius: 8px;
  width: 80%;
    height: 400px;
    /*background: aqua;*/
    margin: auto;
    border: 1px solid #7c7c7c;
    padding: 10px;
}

.img-description {

  font-size: 1.2em;
  padding: 10px;
  min-width: 500px;
  margin-left: 15%;
    height: 379px;
    background: #f2f2f2;
}

.img {
  border: 1px solid #7c7c7c;
  width: 50%;
  height: 100%;
  background: white;
  float: left;
}

.comments {
  margin-left: 10%;
  margin-right: 10%;
  padding: 30px;
  background-color: #F2F2F2;
}

.comments div {
  margin: 5px;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f7f7;

}

.commentsh3 {
  margin: 10px auto;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  text-align: center;
}

.box-shadow {
  -webkit-box-shadow: 3px 3px 3px 0px #128da5;
-moz-box-shadow: 3px 3px 3px 0px #128da5;
box-shadow: 3px 3px 3px 0px #128da5;
}

/* ----------------------------------------------- */

/*navbar*/

#navbar {
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #488286;
}

#navbar > li {
    float: left;
    border-right: 1px solid #373E40;
}

#navbar > li > a {
    display: block;
    color: #def7f6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar > li > a:hover:not(.active) {
    background-color: #30595b;
}

.active {
    background-color: #30595b;
}

.map-abs {
  margin-top: 29%;
  margin-left: -50%;
  height: 100px;
  width: 100px;
  position: absolute;
}

.map-icon {
  height: 130px;
  width: 130px;

}
